{% extends "base_generic.html" %}

{% block sidebar %}
<ul class="sidebar-nav">
    <li><a href="{% url 'index' %}">Home</a></li>
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'all' %}">All tasks</a></li>
        <li><a href="{% url 'done' %}">Done tasks</a></li>
        <li><a href="{% url 'pending' %}">Pending tasks</a></li>
        <li><a href="{% url 'task_create' %}">Create task</a></li>
        <li><a href="{% url 'task_update' pk=task.pk %}">Update task</a></li>
        <li><a href="{% url 'task_delete' pk=task.pk %}">Delete task</a></li>
        <li><a href="{% url 'logout'%}?next={{all}}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}

<h1>Detailed information</h1>

<p><strong>Task description:</strong> {{ task.description }}</p>
<p><strong>Additional information:</strong> {{ task.additional_info }}</p>
<p class="{% if task.status == 'd' %}text-success{% else %}text-danger{% endif %}">
    {{ task.get_status_display }}</p>

{% endblock %}